:root {
  --navbarBg: #151e28;
  --navbarLink: rgba(255, 255, 255, 0.8);
  --navbarLinkFocused: rgba(255, 255, 255, 1);
}

.navbar {
  background-color: var(--navbarBg);
}
.nav-link {
  color: var(--navbarLink) !important;
}
.nav-link:hover {
  color: var(--navbarLinkFocused) !important;
}
.navbar-toggler:focus {
  box-shadow: 0 0 0 0.1rem;
}

button:disabled,
button[disabled] {
  opacity: 0.8;
}
.custon-text-button {
  color: #404040;
}
.custom-text-button:hover,
.custom-text-button:active {
  color: #252525;
  cursor: pointer !important;
}

/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color of the track (the area behind the scrollbar) */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the thumb (the draggable part of the scrollbar) */
  border-radius: 6px; /* Rounded corners of the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the thumb on hover */
}